
QLabel, QCheckBox, QLineEdit, QPushButton, QGroupBox, QTabWidget, QPlainTextEdit, QComboBox, QTableWidget, QLabel[class="welcome"] {{
    font-size: 16pt;
    /* font-size: 10vw; */
}}

QLineEdit[class="password"] {{
    font-size: 14pt;
}}
QGroupBox {{
    spacing: 0px;
    /* padding: 15px; */

}}

QGroupBox[class="no-padding"] {{
    padding: 0px;
    padding-top: 0px;
    padding-right: 0px;
}}

*[class="hover"]:hover {{
    color: #90EE90;
    text-decoration: underline;
}}
