
QLabel, QCheckBox, QLineEdit, QPushButton, QGroupBox, QTabWidget, QPlainTextEdit, QComboBox {{
    font-size: 16px;
}}

QLabel[class="welcome"] {{
    font-size: 20px;
}}

QGroupBox {{
    spacing: 0px;
    /* padding: 15px; */

}}

QGroupBox[class="no-padding"] {{
    padding: 0px;
    padding-top: 0px;
    padding-right: 0px;
}}

QLabel[class="hover"]:hover {{
    color: #90EE90;
    text-decoration: underline;
}}
